body {
    background-color: lightseagreen;
}

h1, h2 {
    text-align: center;
}

#semantic, #non-semantic {
    margin: 0 auto;
    border: 3px solid red;
    width: 60%;
    height: 70%;

}

th, td {
    border-bottom: 1px solid lightblue;
}

.tag {
    background-color: bisque;
    font-size: small;
    font-family: "Lucida Console", Courier, monospace;
}

th {
    font-weight: bold;
}